@import 'include-media/dist/include-media';

@mixin make-container() {
  margin: 0 auto;
  width: 100%;
  @include media('>xl') {
    max-width: 1170px;
  }
  @include media('<=xl', '>lg') {
    max-width: 990px;
  }
  @include media('<=lg', '>md') {
    max-width: 750px;
  }
  @include media('<=md', '>sm') {
    max-width: 570px;
  }
  padding: {
    left: $grid-gutter / 2;
    right: $grid-gutter / 2;
  }
}

@mixin make-row($gutter: $grid-gutter) {
  display: grid;
  grid-gap: $gutter;
  grid-template-columns: repeat($grid-columns, 1fr);
  width: 100%;
}

%container {
  @include make-container;
}

%row {
  @include make-row;
}
